.blog-banner {
  margin-top: 62px; }
  .blog-banner .container {
    padding: 0; }
  .blog-banner .blog-banner-content {
    padding: 0;
    max-height: 490px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden; }
  .blog-banner .blog-banner-img img {
    width: 100%; }
  .blog-banner .blog-banner-description {
    background-color: #efe4ac; }
    .blog-banner .blog-banner-description p {
      width: 70%;
      text-align: center;
      font-size: 0.8rem; }
      @media (min-width: 400px) {
        .blog-banner .blog-banner-description p {
          font-size: 1rem; } }

.article h3 {
  margin-top: 2.2rem; }
.article p {
  text-indent: 4rem;
  text-align: justify; }

@media (min-width: 768px) {
  .blog-banner .blog-banner-description p {
    font-size: 1.5rem; } }
@media (min-width: 1024px) {
  .blog-banner {
    margin-top: 77px; } }
