@import 'variables';

@media(min-width: $breakS){

}

@media(min-width: $breakM){
	html {font-size: 20px;}
}

@media(min-width: $breakL){
	// body{ margin-top: $navHDesktop }
	#header{
		height: $navHDesktop;
		.container{
			position: relative;
			height: 100%;
			h1{
				font-size: $fontSize4;
			    line-height: 35px;
			    width: 180px;
			    padding: 2px;
			}
			nav{
				right: $space2;
				ol {
					> li{
						font-size: $fontSize2;
					}
				}
				ul{
					width: 280px;
					border-color: $gray5;	
					> li{
						font-size: $fontSize1;
					}
				}
			}
		}
	}
	.banner{
		margin-top: $navHDesktop;
	}
}