@import 'variables';

@media(min-width: $breakS){

}

@media(min-width: $breakM){
	html {font-size: 20px;}
	.banner{
		.banner-description{
		    margin-right: 10%;
		}
	}
}

@media(min-width: $breakL){
	#header{
		height: $navHDesktop;
		.container{
			position: relative;
			height: 100%;
			h1{
				font-size: $fontSize4;
			    line-height: 35px;
			    width: 180px;
			    padding: 2px;
			}
			nav{
				right: $space2;
				ol {
					> li{
						font-size: $fontSize2;
						> a{
							color: inherit;
							&::after{
								content: '';
							    background: $red;
							    position: absolute;
							    height: 2px;
							    width: 60px;
							    transform: translate3d(-50%, 0, 0) scaleX(0);
							    bottom: 15px;
							    left: 50%;
							    transition: $transitionMaster;
							    transition-property: transform;
							}
							&:hover::after,
							&.active::after{
								transform: translate3d(-50%, 0, 0) scaleX(1)
							}
						}
					}
				}
				ul{
					width: 280px;
					border-color: $gray5;	
					> li{
						font-size: $fontSize1;
					}
				}
			}
		}
	}
	.banner{
		margin-top: $navHDesktop;
	}
}