@import 'variables';

body{
	background: $white3;
	color: $gray3;
}
a{
	&:link,	&:visited, &:active, &:hover {color: inherit}
}
#header{
	background: $white3;
	color: $gray1;
	border-color: $gray5;
	nav{
		background: $white3;
		border-color: $gray5;
		ul{
			border-color: $gray5;
			background: $white3;
			li{
				color: $gray2;
			}					
		}
	}
}
#footer{
	#main-footer{
		background: $gray2;
		*{color: $white3;}
	}
}
section{
	&.bg-color{
		background-color: $white1 !important;
	}
}

@media(min-width: $breakL){
	#header{
		.container{
			nav{
				ul{
					border-color: $gray5;				
				}
			}
		}
	}
}