$white1: #f6f0ca;
$white2: #efe4ac;
$white3: #fff;
$gray1: #333;
$gray2: #666;
$gray3: #737373;
$gray4: #999;
$gray5: #ccc;
$orange1: #fb6b31;
$orange2: #f98c46;
$red: #f13535;
$brown: #6b4832;

$fontSize1: 0.8rem; // Sizes of font
$fontSize2: 1rem;
$fontSize3: 1.4rem;
$fontSize4: 1.6rem;

$space1: 0.5rem; // Common space value for paddings and margins
$space2: 1rem;
$space3: 1.5rem;
$space4: 2.2rem;
$space5: 3rem;
$space6: 4rem;
$space7: 5rem;

$breakS: 320px; // Breaking points of website
$breakM: 768px;
$breakL: 1024px;

$transitionMaster: 0.4s ease-in-out;

$navHMobile: 62px; // Height of mobile navigation bar
$navHDesktop: 77px; // Height of desktop navigation bar
