*[class*="coll-wrapper"] {
  position: relative; }

*[class*="coll-btn-click"], *[class*="acc-btn"], *[class*="nav-btn"] {
  cursor: pointer; }

.acc-btn-click, .acc-btn-hover {
  padding: 1px 0; }

*[class*="coll-content-wrapper"] {
  display: none; }

.coll-content-wrapper.displayed {
  display: block; }

.coll-content-wrapper.before-collapsing {
  position: absolute;
  visibility: hidden;
  display: block; }

.coll-content-wrapper.collapsing {
  position: static;
  height: 0;
  overflow: hidden;
  display: block;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out; }

#header {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  height: 62px;
  border-bottom: 2px solid; }
  #header #burger {
    float: right; }
    #header #burger .burger-item {
      float: left;
      line-height: 62px;
      height: 62px;
      margin-left: 10px; }
    #header #burger .burger-description {
      font-size: 0.8rem;
      margin: 0; }
    #header #burger .burger-bars {
      position: relative;
      width: 40px; }
      #header #burger .burger-bars .burger-bar {
        position: absolute;
        right: 0;
        left: 0;
        height: 4px;
        background-color: #333;
        border-radius: 2px;
        -webkit-box-shadow: 0px 10px, 0px -10px;
                box-shadow: 0px 10px, 0px -10px;
        top: 50%;
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%); }
  #header nav {
    text-align: center;
    border-bottom: 2px solid;
    position: absolute;
    top: 62px;
    left: 0;
    right: 0; }
    #header nav.coll-content-wrapper.collapsing {
      position: absolute; }
    #header nav ol, #header nav ul {
      list-style-type: none; }
    #header nav ol a {
      display: block;
      height: 100%; }
    #header nav ul {
      border-top: 1px solid;
      border-bottom: 1px solid; }
    #header nav li {
      line-height: 40px; }

@media (min-width: 1024px) {
  #header .coll-content-wrapper.collapsing {
    position: absolute; }
  #header .container {
    position: relative;
    height: 100%; }
    #header .container #burger {
      display: none; }
    #header .container nav {
      background: none;
      top: 0;
      left: auto;
      border: none;
      display: block; }
      #header .container nav ol > li {
        line-height: 75px;
        position: relative;
        display: inline-block;
        margin-left: 1rem; }
      #header .container nav ul {
        position: absolute;
        border: 1px solid;
        left: 0;
        width: 140px; } }
*,
nav ul,
nav ol {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ol,
ul {
  padding-left: 50px;
  margin-bottom: 1rem; }

html {
  font-size: 18px; }

body {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 400;
  background: #fff;
  color: #737373; }

h1,
.h1 {
  font-weight: 800;
  float: left;
  font-size: 1.4rem;
  width: 150px;
  line-height: 30px; }

h2,
.h2 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  line-height: 100%;
  margin: 1rem 0 2.2rem 0; }

h3,
.h3 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 100%;
  color: #666;
  text-transform: uppercase;
  margin: 0 0 1rem 0; }

h4,
.h4 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 100%;
  margin: 0 0 0.5rem 0;
  text-transform: lowercase; }
  h4:hover,
  .h4:hover {
    color: #fb6b31; }

p {
  margin: 0 0 1rem 0; }
  p.important {
    margin-top: 0;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center; }

strong {
  color: #fb6b31; }

a {
  text-decoration: none; }
  a:link, a:visited, a:active {
    color: inherit; }
  a:hover {
    color: #f13535; }

address {
  font-style: normal; }

main {
  min-height: 100vh; }

#header {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  border-bottom: 2px solid #ccc;
  background: #fff;
  color: #333; }
  #header .container {
    padding-top: 0;
    padding-bottom: 0; }
  #header nav {
    background: #fff;
    border-color: #ccc;
    font-size: 0.8rem;
    font-weight: 700; }
    #header nav ol > li > a:hover, #header nav ol > li > a.active {
      color: #f13535; }
    #header nav ul {
      border-color: #ccc;
      background: #fff; }
      #header nav ul li {
        color: #666; }
        #header nav ul li a:hover, #header nav ul li a.active {
          color: #f13535; }

#footer {
  background: #666; }
  #footer #main-footer * {
    color: #fff; }
  #footer #main-footer h3 {
    position: relative;
    max-width: 400px;
    margin: 0 0 1.5rem 0; }
    #footer #main-footer h3 i {
      position: absolute;
      right: 0;
      font-size: 3.2rem; }
  #footer #copyrigth {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    max-width: none; }
    #footer #copyrigth p {
      margin: 0; }

section,
.section {
  background-color: #fff;
  background-repeat: no-repeat;
  text-align: center; }
  section.bg-color,
  .section.bg-color {
    background-color: #f6f0ca; }
  section.bg-img,
  .section.bg-img {
    background-position: center;
    background-size: cover; }
  section.bg-svg,
  .section.bg-svg {
    background-position: top;
    background-size: 100%; }

.circle-icon {
  display: block;
  height: 100px;
  width: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  line-height: normal;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem; }

.banner {
  padding: 50px 0;
  margin-top: 62px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .banner .banner-description {
    background: url(img/svg/corners.svg) no-repeat;
    background-color: rgba(102, 102, 102, 0.9);
    background-size: 260px;
    background-position: center;
    width: 260px;
    height: 200px;
    margin: 0 auto;
    position: relative; }
    .banner .banner-description p {
      padding: 30px;
      margin-top: 0;
      text-align: center;
      color: #ccc;
      position: absolute;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      top: 50%; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1.5rem; }

.container-fluid {
  margin: 0 auto;
  padding: 1.5rem; }

*[class*="col-"].vertical-padding,
.row.vertical-padding {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

section,
.section,
article,
.article {
  padding: 3rem 0 3rem 0; }

.row {
  margin-left: -1rem;
  margin-right: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

*[class*="col-"] {
  display: block;
  padding: 0 1rem; }

.col-1 {
  max-width: 8.33%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 8.33%;
          flex: 0 1 8.33%; }

.col-2 {
  max-width: 16.66%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.66%;
          flex: 0 1 16.66%; }

.col-3 {
  max-width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%; }

.col-4 {
  max-width: 33.33%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%; }

.col-5 {
  max-width: 41.66%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 41.66%;
          flex: 0 1 41.66%; }

.col-6 {
  max-width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%; }

.col-7 {
  max-width: 58.33%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 58.33%;
          flex: 0 1 58.33%; }

.col-8 {
  max-width: 66.66%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.66%;
          flex: 0 1 66.66%; }

.col-9 {
  max-width: 75%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75%;
          flex: 0 1 75%; }

.col-10 {
  max-width: 83.33%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 83.33%;
          flex: 0 1 83.33%; }

.col-11 {
  max-width: 91.66%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 91.66%;
          flex: 0 1 91.66%; }

.col-12 {
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%; }

.off-0 {
  margin-left: 0; }

.off-1 {
  margin-left: 8.33%; }

.off-2 {
  margin-left: 16.66%; }

.off-3 {
  margin-left: 25%; }

.off-4 {
  margin-left: 33.33%; }

.off-5 {
  margin-left: 41.66%; }

.off-6 {
  margin-left: 50%; }

.off-7 {
  margin-left: 58.33%; }

.off-8 {
  margin-left: 66.66%; }

.off-9 {
  margin-left: 75%; }

.off-10 {
  margin-left: 83.33%; }

.off-11 {
  margin-left: 91.66%; }

.off-12 {
  margin-left: 100%; }

@media (min-width: 320px) {
  .col-s-1 {
    max-width: 8.33%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 8.33%;
            flex: 0 1 8.33%; }

  .col-s-2 {
    max-width: 16.66%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 16.66%;
            flex: 0 1 16.66%; }

  .col-s-3 {
    max-width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%; }

  .col-s-4 {
    max-width: 33.33%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33%;
            flex: 0 1 33.33%; }

  .col-s-5 {
    max-width: 41.66%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 41.66%;
            flex: 0 1 41.66%; }

  .col-s-6 {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%; }

  .col-s-7 {
    max-width: 58.33%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 58.33%;
            flex: 0 1 58.33%; }

  .col-s-8 {
    max-width: 66.66%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 66.66%;
            flex: 0 1 66.66%; }

  .col-s-9 {
    max-width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%; }

  .col-s-10 {
    max-width: 83.33%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 83.33%;
            flex: 0 1 83.33%; }

  .col-s-11 {
    max-width: 91.66%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 91.66%;
            flex: 0 1 91.66%; }

  .col-s-12 {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%; }

  .off-s-0 {
    margin-left: 0; }

  .off-s-1 {
    margin-left: 8.33%; }

  .off-s-2 {
    margin-left: 16.66%; }

  .off-s-3 {
    margin-left: 25%; }

  .off-s-4 {
    margin-left: 33.33%; }

  .off-s-5 {
    margin-left: 41.66%; }

  .off-s-6 {
    margin-left: 50%; }

  .off-s-7 {
    margin-left: 58.33%; }

  .off-s-8 {
    margin-left: 66.66%; }

  .off-s-9 {
    margin-left: 75%; }

  .off-s-10 {
    margin-left: 83.33%; }

  .off-s-11 {
    margin-left: 91.66%; }

  .off-s-12 {
    margin-left: 100%; } }
@media (min-width: 768px) {
  section,
  .section,
  article,
  .article {
    padding: 5rem 0 5rem 0; }

  .col-m-1 {
    max-width: 8.33%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 8.33%;
            flex: 0 1 8.33%; }

  .col-m-2 {
    max-width: 16.66%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 16.66%;
            flex: 0 1 16.66%; }

  .col-m-3 {
    max-width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%; }

  .col-m-4 {
    max-width: 33.33%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33%;
            flex: 0 1 33.33%; }

  .col-m-5 {
    max-width: 41.66%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 41.66%;
            flex: 0 1 41.66%; }

  .col-m-6 {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%; }

  .col-m-7 {
    max-width: 58.33%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 58.33%;
            flex: 0 1 58.33%; }

  .col-m-8 {
    max-width: 66.66%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 66.66%;
            flex: 0 1 66.66%; }

  .col-m-9 {
    max-width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%; }

  .col-m-10 {
    max-width: 83.33%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 83.33%;
            flex: 0 1 83.33%; }

  .col-m-11 {
    max-width: 91.66%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 91.66%;
            flex: 0 1 91.66%; }

  .col-m-12 {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%; }

  .off-m-0 {
    margin-left: 0; }

  .off-m-1 {
    margin-left: 8.33%; }

  .off-m-2 {
    margin-left: 16.66%; }

  .off-m-3 {
    margin-left: 25%; }

  .off-m-4 {
    margin-left: 33.33%; }

  .off-m-5 {
    margin-left: 41.66%; }

  .off-m-6 {
    margin-left: 50%; }

  .off-m-7 {
    margin-left: 58.33%; }

  .off-m-8 {
    margin-left: 66.66%; }

  .off-m-9 {
    margin-left: 75%; }

  .off-m-10 {
    margin-left: 83.33%; }

  .off-m-11 {
    margin-left: 91.66%; }

  .off-m-12 {
    margin-left: 100%; } }
@media (min-width: 1024px) {
  .col-l-1 {
    max-width: 8.33%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 8.33%;
            flex: 0 1 8.33%; }

  .col-l-2 {
    max-width: 16.66%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 16.66%;
            flex: 0 1 16.66%; }

  .col-l-3 {
    max-width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%; }

  .col-l-4 {
    max-width: 33.33%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33%;
            flex: 0 1 33.33%; }

  .col-l-5 {
    max-width: 41.66%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 41.66%;
            flex: 0 1 41.66%; }

  .col-l-6 {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%; }

  .col-l-7 {
    max-width: 58.33%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 58.33%;
            flex: 0 1 58.33%; }

  .col-l-8 {
    max-width: 66.66%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 66.66%;
            flex: 0 1 66.66%; }

  .col-l-9 {
    max-width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%; }

  .col-l-10 {
    max-width: 83.33%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 83.33%;
            flex: 0 1 83.33%; }

  .col-l-11 {
    max-width: 91.66%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 91.66%;
            flex: 0 1 91.66%; }

  .col-l-12 {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%; }

  .off-l-0 {
    margin-left: 0; }

  .off-l-1 {
    margin-left: 8.33%; }

  .off-l-2 {
    margin-left: 16.66%; }

  .off-l-3 {
    margin-left: 25%; }

  .off-l-4 {
    margin-left: 33.33%; }

  .off-l-5 {
    margin-left: 41.66%; }

  .off-l-6 {
    margin-left: 50%; }

  .off-l-7 {
    margin-left: 58.33%; }

  .off-l-8 {
    margin-left: 66.66%; }

  .off-l-9 {
    margin-left: 75%; }

  .off-l-10 {
    margin-left: 83.33%; }

  .off-l-11 {
    margin-left: 91.66%; }

  .off-l-12 {
    margin-left: 100%; } }
@media (min-width: 768px) {
  html {
    font-size: 20px; }

  .banner .banner-description {
    margin-right: 10%; }

  h2,
  .h2 {
    margin: 1rem 0 4rem 0; } }
@media (min-width: 1024px) {
  #header {
    height: 77px; }
    #header .container {
      position: relative;
      height: 100%; }
      #header .container h1 {
        font-size: 1.6rem;
        line-height: 35px;
        width: 180px;
        padding: 2px; }
      #header .container nav {
        right: 1rem; }
        #header .container nav ol > li {
          font-size: 1rem; }
          #header .container nav ol > li > a {
            color: inherit; }
            #header .container nav ol > li > a::after {
              content: "";
              background: #f13535;
              position: absolute;
              height: 2px;
              width: 60px;
              -webkit-transform: translate3d(-50%, 0, 0) scaleX(0);
                      transform: translate3d(-50%, 0, 0) scaleX(0);
              bottom: 15px;
              left: 50%;
              -webkit-transition: 0.4s ease-in-out;
              transition: 0.4s ease-in-out;
              -webkit-transition-property: -webkit-transform;
              transition-property: -webkit-transform;
              transition-property: transform;
              transition-property: transform, -webkit-transform; }
            #header .container nav ol > li > a:hover::after, #header .container nav ol > li > a.active::after {
              -webkit-transform: translate3d(-50%, 0, 0) scaleX(1);
                      transform: translate3d(-50%, 0, 0) scaleX(1); }
        #header .container nav ul {
          width: 280px;
          border-color: #ccc; }
          #header .container nav ul > li {
            font-size: 0.8rem; }

  .banner {
    margin-top: 77px; } }
