@import 'variables';
@import 'collapser';

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
	font-size: 18px;
}
body{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 400;
}
h1{
	font-weight: 800;
	float: left;
	font-size: $fontSize3;
	width: 150px;
	line-height: 30px;
}
h2{
	font-size: $fontSize3;
	font-weight: 700;
	color: $gray1;
	text-transform: uppercase;
	text-align: center;
	line-height: 100%;
	margin: $space3 0;
	margin-bottom: $space4;
}
h3{
	font-size: $fontSize2;
	font-weight: 700;
	line-height: 100%;
	color: $gray2;
	text-transform: uppercase;
	margin: $space2 0;
}
h4{
	font-size: $fontSize2;
	font-weight: 700;
	line-height: 100%;
	margin: $space1 0;
	text-transform: lowercase;
	&:hover{color: $orange1}
}
p{
	margin: $space2 0;
	&.important{
		margin-top: 0;
		font-size: $fontSize3;
		font-weight: 700;
		text-align: center;
		span{color: $orange1}
	}
}
a{
	text-decoration: none;
	&:link,
	&:visited {color: $orange1}
	&:active,
	&:hover {color: $orange2}
}
header{
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	border-bottom: 2px solid;
	#burger{
		float: right;
		.burger-item{
			float: left;
			line-height: $navHMobile;
			height: $navHMobile;
			margin-left: 10px;
		}
		.burger-description{
			font-size: $fontSize1;
		    margin: 0;
		}
		.burger-bars{
			position: relative;
			width: 40px;
			.burger-bar{
				position: absolute;
				right: 0;
				left: 0;
				height: 4px;
				background-color: $gray1;
				border-radius: 2px;
				box-shadow: 0px 10px, 0px -10px;
				top: 50%;
				transform: translate(0, -50%);
			}
		}
	}
	nav{
		font-size: $fontSize1;
		font-weight: 700;
	}
}

@import 'main_grid';
@import 'main_media';
@import 'main_color';
@import 'main_animation';