@import 'variables';
@import 'mixins';
@import 'collapser';

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
	font-size: 18px;
}
body{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 400;
	background: $white3;
	color: $gray3;
}
h1{
	font-weight: 800;
	float: left;
	font-size: $fontSize3;
	width: 150px;
	line-height: 30px;
}
h2{
	font-size: $fontSize3;
	font-weight: 700;
	color: $gray1;
	text-transform: uppercase;
	text-align: center;
	line-height: 100%;
	margin: $space3 0;
	margin-bottom: $space4;
}
h3{
	font-size: $fontSize2;
	font-weight: 700;
	line-height: 100%;
	color: $gray2;
	text-transform: uppercase;
	margin: $space2 0;
}
h4{
	font-size: $fontSize2;
	font-weight: 700;
	line-height: 100%;
	margin: $space1 0;
	text-transform: lowercase;
	&:hover{color: $orange1}
}
p{
	margin: $space2 0;
	&.important{
		margin-top: 0;
		font-size: $fontSize3;
		font-weight: 700;
		text-align: center;
		span{color: $orange1}
	}
}
a{
	text-decoration: none;
	&:link,
	&:visited,
	&:active,
	&:hover {color: inherit;}
}
address{
	font-style: normal;
}
#header{
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	border-bottom: 2px solid $gray5;
	background: $white3;
	color: $gray1;
	nav{
		background: $white3;
		border-color: $gray5;
		font-size: $fontSize1;
		font-weight: 700;
		ul{
			border-color: $gray5;
			background: $white3;
			li{
				color: $gray2;
			}
		}
	}
}
#footer{
	background: $gray2;
	padding-bottom: 0;
	#main-footer{
		*{color: $white3;}
		h3{
			position: relative;
			i {
				position: absolute;
				right: 0;
				font-size: 3.2rem
			}
		}
	}
	#copyrigth{
		background: $white3;
		padding-top: $space2;
		padding-bottom: $space2;
		text-align: center;
		max-width: none;
	}
}
section{
	background-color: $white3;
	text-align: center;
	&.bg-color{
		background-color: $white1;
	}
}
.circle-icon{
	display: block;
	height: 100px;
	width: 100px; 
	background-size: cover;
	background-repeat: no-repeat;
	line-height: normal;
	vertical-align: middle;
	@include margin-aling-center;
	margin-bottom: $space3;
	margin-top: $space3;
}

@import 'main_grid';
@import 'main_media';
@import 'main_animation';