@media (min-width: $breakS) {
}

@media (min-width: $breakM) {
    // CENNIK
    #cennik {
        .bg-part {
            background-image: url(img/svg/bg-cennik1.svg);
        }
    }
    // WYCENA
    #wycena {
        .bg-part {
            background-image: url(img/svg/bg-cennik2.svg);
        }
        text-align: left;
        ul {
            max-width: none;
            margin-left: 0;
        }
    }
}

@media (min-width: $breakL) {
}
