@media (min-width: $breakM) {
    // WELCOME SECTION
    #welcome-section {
        height: 100vh;
    }
    // JAK PRACUJEMY
    #jak-pracujemy {
        .bg-part {
            background-image: url(img/svg/bg-glowna1.svg);
        }
        h3 {
            width: 300px;
            margin: $space3 auto;
            &::before {
                height: $space4;
                width: $space4;
            }
        }
    }
    // WYKONAMY
    #wykonamy {
        text-align: left;
        h3 {
            position: relative;
            .circle-icon {
                position: absolute;
                top: 0;
                left: -50%;
                margin: 0;
            }
        }
    }
    // KONTAKT
    #kontakt {
        .bg-part {
            background-image: url(img/svg/bg-glowna2.svg);
        }
        .row .kontakt-item {
            padding-top: 0;
            i {
                position: static;
                vertical-align: -15%;
            }
        }
    }
    // LOKALIZACJE
    #lokalizacje {
        .bg-part {
            background-image: url(img/svg/bg-glowna3.svg);
        }
    }
    // PORADY
    #porady {
        .porady-description .multi-line-text-overflow {
            @include multi-line-text-overflow(1, 20px);
            @media (min-width: 900px) {
                @include multi-line-text-overflow(3, 20px);
            }
            margin-bottom: 0;
        }
    }
    // OPINIE
    #opinie {
        .bg-part {
            background-image: url(img/svg/bg-glowna4.svg);
        }
    }
}

@media (min-width: $breakL) {
    // WYKONAMY
    #wykonamy {
        text-align: left;
        h3 {
            position: relative;
            .circle-icon {
                position: absolute;
                top: 0;
                left: -50%;
                margin: 0;
            }
        }
        .row .wykonamy-content {
            &:first-of-type {
                text-align: right;
                .circle-icon {
                    left: auto;
                    right: -50%;
                }
            }
        }
    }
    // PORADY
    #porady {
        .porady-description .multi-line-text-overflow {
            @include multi-line-text-overflow(5, 20px);
        }
    }
}
