#welcome-section {
  background: url(img/hero.jpg) no-repeat;
  background-size: cover;
  background-position: left top;
  height: 70vh; }
  #welcome-section #scroll-down-icon {
    display: block;
    position: absolute;
    top: 65vh;
    left: 50%;
    -webkit-transform: translate3d(-50%, -100%, 0);
            transform: translate3d(-50%, -100%, 0);
    width: 35px;
    height: 35px; }
    #welcome-section #scroll-down-icon::before, #welcome-section #scroll-down-icon::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 50%;
      border-left: 5px solid;
      border-bottom: 5px solid;
      border-color: #fb6b31;
      border-radius: 10% 0 10% 10%;
      -webkit-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
              transform: translate3d(-50%, -50%, 0) rotate(-45deg); }
    #welcome-section #scroll-down-icon::before {
      top: -10%; }
    #welcome-section #scroll-down-icon::after {
      top: 50%; }

#jak-pracujemy {
  background-image: url(img/bg-glowna1m.svg);
  background-repeat: no-repeat;
  padding-top: 10%; }
  #jak-pracujemy h3 {
    text-align: left;
    width: 250px;
    margin-right: auto;
    margin-left: auto; }
    #jak-pracujemy h3::before {
      content: '';
      display: inline-block;
      height: 1.3rem;
      width: 1.3rem;
      background-size: cover;
      background-repeat: no-repeat;
      line-height: normal;
      vertical-align: middle; }
    #jak-pracujemy h3:nth-of-type(1)::before {
      background-image: url(img/nr1.svg); }
    #jak-pracujemy h3:nth-of-type(2)::before {
      background-image: url(img/nr2.svg); }
    #jak-pracujemy h3:nth-of-type(3)::before {
      background-image: url(img/nr3.svg); }
    #jak-pracujemy h3:nth-of-type(4)::before {
      background-image: url(img/nr4.svg); }

#wykonamy h4 {
  margin-bottom: 0; }
  #wykonamy h4::after {
    content: " +"; }
#wykonamy p {
  margin: 0.2rem 0; }

#kontakt {
  background: url(img/bg-glowna2m.svg) no-repeat bottom;
  padding-bottom: 30%; }

#lokalizacje {
  background: url(img/bg-glowna3m.svg) no-repeat;
  padding-top: 10%; }

#opinie {
  background: url(img/bg-glowna4m.svg) no-repeat;
  padding-top: 10%; }

#welcome-section {
  position: relative;
  z-index: -100; }
