#welcome-section {
  background: url(img/hero.jpg) no-repeat;
  background-size: cover;
  background-position: left top;
  height: 70vh; }

#jak-pracujemy {
  background-image: url(img/bg-glowna1m.svg);
  background-repeat: no-repeat;
  padding-top: 10%; }
  #jak-pracujemy h3 {
    text-align: left;
    width: 250px;
    margin-right: auto;
    margin-left: auto; }
    #jak-pracujemy h3::before {
      content: '';
      display: inline-block;
      height: 1.3rem;
      width: 1.3rem;
      background-size: cover;
      background-repeat: no-repeat;
      line-height: normal;
      vertical-align: middle; }
    #jak-pracujemy h3:nth-of-type(1)::before {
      background-image: url(img/nr1.svg); }
    #jak-pracujemy h3:nth-of-type(2)::before {
      background-image: url(img/nr2.svg); }
    #jak-pracujemy h3:nth-of-type(3)::before {
      background-image: url(img/nr3.svg); }
    #jak-pracujemy h3:nth-of-type(4)::before {
      background-image: url(img/nr4.svg); }

#wykonamy h4 {
  margin-bottom: 0; }
#wykonamy p {
  margin: 0.2rem 0; }

#kontakt {
  background: url(img/bg-glowna2m.svg) no-repeat bottom;
  padding-bottom: 30%; }

#lokalizacje {
  background: url(img/bg-glowna3m.svg) no-repeat;
  padding-top: 10%; }

#opinie {
  background: url(img/bg-glowna4m.svg) no-repeat;
  padding-top: 10%; }

#welcome-section {
  position: relative;
  z-index: -100; }
