
.icon-location:before { content: '\e800'; } /* '' */
.icon-up:before { content: '\e802'; } /* '' */
.icon-load:before { content: '\e830'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-address:before { content: '\f2b9'; } /* '' */